@model BibliotecaMVC.Models.Categoria

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <h2>@ViewBag.Title</h2>

    <div class="form-group">
        <a type="button" class="btn btn-primary" href="~/Categorias/Create"><label>Incluír</label></a>
    </div>
</div>
